body {
  background: #f7eaea;
}
/* NAV BAR */
#header-nav-row {
  max-width: 100%;
  background-color: #c5616b;
}
.nav-row {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #c5616b;
  width: 100%;
}

.nav-item {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #e6e6e6;
  font-weight: 400;
  font-size: 22px;
}

.nav-item:hover {
  transform: scale(1.2);
  font-weight: 900;
  text-decoration: underline 6px;
  text-decoration-color: #d1909c;
  text-underline-offset: 15px;
}

.active {
  transform: scale(1.2);
  font-weight: 900;
  text-decoration: underline 6px;
  text-decoration-color: #7f9990;
  text-underline-offset: 15px;
}

#homepage {
  font-family: "Train One", cursive;
  font-weight: 900;
  font-size: 40px;
}

#homepage:hover {
  text-underline-offset: 0px;
  text-decoration-color: none;
  text-decoration: none;
}

#mainheading {
  font-family: "Train One", cursive;
  font-weight: 900;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 80px;
}

#welcome-row {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #f7eaea;
  width: 100%;
}

#welcome h6 {
  font-weight: bold;
}

#quote-row {
  width: 100%;
  background-color: #7f9990;
}
#quoteBox {
  font-style: italic;
  font-size: 20px;
}
#quote,
#author {
  margin: 0;
}
/* LOGIN AND SIGNUP PAGE */
.login-body {
  background-color: #e1caca;
}

.signup-body {
  background-color: #e1caca;
}

#reminder {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -100px;
}
/* FILES PAGE */
#uploadFile {
  margin-top: 40px;
}

.card {
  max-width: 300px;
}
.card-body {
  overflow-y: auto;
}
.task-card.low {
  background-color: #e1caca;
}
.task-card.moderate {
  background-color: #d1909c;
}
.task-card.high {
  background-color: #c5616b;
}
.task-card.completed {
  background-color: #b9d6c8;
}
.card-btn {
  background-color: inherit;
}

.hidden {
  visibility: hidden;
}

#dueDataBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.dueItem {
  list-style: none;
  margin: 30px;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: rgb(51, 36, 65);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 2px 3px 3px grey;
}

#fileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.fileList {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: rgb(51, 36, 65);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 2px 3px 3px grey;
  text-align: left;
  font-size: 20px;
}

.fileList a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  padding: 3px;
}

.fileList a:hover {
  color: grey;
}
.fileList button {
  font-size: 15px;
  float: right;
  border-radius: 5px;
  box-shadow: 3px 2px 2px grey;
  padding: 3px;
}
.fileList button:active {
  box-shadow: none;
  transform: translate3d(2px, 2px, 3px);
}

#uploadForm {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: rgb(51, 36, 65);
  padding: 5px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 2px 3px 3px grey;
}

#uploadFileForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

#fileNote {
  text-align: center;
  color: rgb(51, 36, 65);
  margin: 30px;
}

.deleteFileForm {
  margin-top: 5px;
  font-size: 15px;
}

#uploadForm div {
  padding: 10px;
}

/* Contacts Style */
.contact-list {
  background-color: #f7eaea;
}
.list-group-item {
  background-color: #f8f3f3;
  cursor: pointer;
}
.contact-details {
  padding: 1rem;
  background-color: #f8f3f3;
  border: 1px solid #dee2e6;
  border-top: none;
}
.contact-details p {
  margin-bottom: 0.5rem;
}
.contact-custom-btn {
  background-color: #f8f3f3;
}

.contact-edit-delete {
  background-color: #d1909c;
}

#searchBar {
  border-radius: 0.5rem;
}

/* JOBS PAGE STYLING */
.jobColumns,
.taskColumn {
  background-color: #f8f3f3;
  height: 65vh;
  overflow-y: scroll;
}
.jobColumns::-webkit-scrollbar,
.taskColumn::-webkit-scrollbar {
  display: none;
}
#headingDiv {
  height: 12%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  background-color: #f8f3f3;
  width: 100%;
}

/*Form styling */
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 0.3rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="email"],
select,
textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0 0 1px #ddd;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  width: 100%;
  background-color: #e1caca;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #c5616b;
}
